@font-face {
	font-family: 'DIN Pro';
	src: url('./font/DINPro-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./font/DINPro.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./font/DINPro-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('./font/DINPro-Bold.woff2') format('woff2');
	font-weight: 700;
}